@import '../../scss/mixins.scss';
@import '../../scss/variables.scss';

.wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    .game-container {
        display: flex;
        flex-direction: column;
        background-repeat: no-repeat;
        
        .dashboard-icon {
            display: flex;
            justify-content: flex-start;
            height: 25px;
            width: 25px;
            margin-top: 15px;
        }
        
        h1 {
            text-align: center;
            margin: 0;
            font-size: 2rem;
            text-shadow: 2px 2px 3px black;
        }
        .category {
            text-align: center;
            margin: 10px 0 0 0;
            text-shadow: 2px 2px 3px black;
        }
        .twitter-btn {
            display: flex;
            justify-content: center;
            button {
                height: 3rem;
                width: 17.5rem;
                border: 1px solid black;
                border-radius: 15px;
                background: whitesmoke;
                color: $twitterBlue;
                font-weight: 600;
                font-size: 1.5rem;
                box-shadow: 2px 2px 3px black;
            }
        }
    }

    .gameScores{
        display: flex;
        justify-content: space-evenly;
        margin: 20px 30px 0 0;
        font-size: 15px;
        font-weight: 600;
    }
    
}

/* Tweet------------------------------------------------ */

.tweet-container {
    display: inline-block;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px 15px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px $blueBoxShadow;
    background-color: #fff;
    color: #000;
    height: auto;
    width: auto;
    .tweet-date {
        position: relative;
        top: 15px;
        align-items: flex-end;
        font-size: 10px;
    }
    .tweet-stats {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: $twitterBlue;
        font-size: 14px;
        font-weight: bold;
        margin-top: 30px;
        p {
            margin: 0;
        }
        .fa-retweet, .fa-comment, .fa-heart {
            color: $greyTwitterIcon;
            margin-right: 5px;
        }
    }
}

/* Tweeters---------------------------------------------- */

.tweeters-container {
    margin-left: 20px;
    margin-bottom: 30px;

    .tweeter-title {
        padding-left: 15px;
        font-weight: bold;
        text-shadow: 2px 2px 3px black;

        .fa-twitter {
            font-size: 30px;
            margin-right: 10px;
        }
    }
}

.tweeter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
    height: 50px;
    margin-top: 20px;
    padding: 5px;
    background-color: #fff;
    color: #000;
    border-radius: 50px;
    box-shadow: 3px 3px 6px black;

    &:hover {
        transform: scale(1.075);
        cursor: pointer;
    }
    .profile-photo {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    .tweeter-info {
        display: flex;
        flex-direction: column;
        padding: 10px 0 0 15px;
        p {
            margin: 0;
        }
        .tweet-name {
            font-weight: bold;
            font-size: 14px;
        }
        .tweet-handle {
            font-size: 12px;
        }
    }
}
.selected {
    transform: scale(1.075);
    border: 3px solid $borderBlue;
}

.correct-btn {
    transform: scale(1.075);
    background-color: #00b33c;
    color: white;
    border: 3px solid white;
}
/* Try Again---------------------------------------------- */

.tweetheader{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.nameHandle{

    h6{
        font-size: 15px;
        margin: 0 5px;
    }

    p{
        margin: 0 5px;
        font-size: 10px;
    }

}

.tryAgain{
    
    h1{
        text-align: center;
        font-weight: 800;
        text-shadow: 2px 2px 3px black;
        animation-name: dance;
        animation-duration: 3s;
        animation-iteration-count: infinite;

        @keyframes dance {
            0% {transform: rotate(0deg)}
            20% {transform: rotate(-2deg)}
            30%{transform: scale(1.1)}
            40% {transform: rotate(0deg)}
            60% {transform: rotate(2deg)}
            80%{transform: scale(1.1)}
            100% {transform: rotate(0deg)}
        }

    }

    .tryAgainbuttons{
        display: flex;
        flex-direction: column-reverse;
        margin: 10px;
        
        a{
            @include buttons;
            display: flex;
            justify-content: center;
            border: 1px solid white;
            padding: 16px 32px;
            margin: 10px;
            color: white;
            text-decoration: none;
            border-color: black;
            box-shadow: 3px 3px 6px black;
            text-shadow: 2px 2px 3px black;

            &:hover{
                transform: scale(1.075)
            }
        }
    }
}

#tweetPic{
    border-radius: 100%;
}

#dashboardButton{
    background-color: #cc0000;
}

#tryAgainButton{
    background-color: #00cc00;
}

#currentScore{
    text-shadow: 2px 2px 3px black;
    margin: 20px 0 0 10px;
}
#highScore{
    text-shadow: 2px 2px 3px black;
    margin: 20px 0 0 10px;
}