@import '../../scss/mixins.scss';


.loginContainer{
    width: 100%;
}

.thankYou{
    text-align: center;
}

.loginHeader{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    padding: 10px;
    // width: 100%;

    h1{
        margin: 10px 10px;
        text-shadow: 2px 2px 3px black;
    }

    img{
        width: 30px;
        height: 30px;
        animation-name: dance;
        animation-duration: 2s;
        animation-iteration-count: infinite;

        @keyframes dance {
            0% {transform: rotate(0deg)}
            20% {transform: rotate(-20deg)}
            40% {transform: rotate(0deg)}
            60% {transform: rotate(30deg)}
            100% {transform: rotate(0deg)}
        }
    }
}

.username{
    font-family: arial;
    display: flex;
    justify-content: flex-start;
    margin: 10px;
    
    

    label {
        padding: 5px 5px;
        font-weight: 600;
        text-shadow: 2px 2px 3px black;
        
    }

    #username{
        border-radius: 80px;
        width: 60%;
        padding: 5px;
        border: 2px solid white;
        box-shadow: 2px 2px 3px black;
    }
}
.password{
    font-family: arial;
    display: flex;
    justify-content: flex-start;
    margin: 10px;

    label {
        padding: 5px 6px;
        font-weight: 600;
        text-shadow: 2px 2px 3px black;
    }

    #password{
        border-radius: 80px;
        width: 60%;
        padding: 5px;
        border: 2px solid white;
        box-shadow: 2px 2px 3px black;
    }
}

.loginFooter{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;

    button{
        @include buttons;
        border: 2px solid white;
        background-color: transparent;
        color: white;
        padding: 5px;
        justify-content: center;
        width: 50%;
        margin-left: 3%;
        margin-bottom: 20%;
        box-shadow: 2px 2px 3px black;
    }

    span {
        display: flex;
        flex-direction: column;
        color: white;
        margin-bottom: 7rem;
        text-shadow: 2px 2px 3px black;

        a{
            margin-top: 5px;
            color: white;
            text-shadow: 1px 1px 1px black;
        }
    }

    img{
        vertical-align: middle;
        width: 90%;
        height: 80px;
        // width: 100%;
        transform: rotate(-10deg);
        opacity: .8;
    }
}