//Variables

//Borders
$borderBlue: blue;
$borderYellow: yellow;
$borderGreen: green;
$borderRed: red;
$borderPurple: purple;
$darkRed: darkred;
$twitterBlue: #1DA1F2;
$blueBoxShadow: rgb(19, 96, 143);
$greyTwitterIcon: #667785;
